body {
    background: #f0f0f0;
}

.gallery {
    position: relative;
    top: 100px;
    left: 100px;
}

.gallery li {
    position: absolute;
    display: block;
    margin: 0;
    list-style-type: none;
    padding: 10px 10px 30px 10px;
    background: #fff;
    border: solid black 1px;
    -webkit-box-shadow: 2px 2px 4px #333333;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-box-shadow: 2px 2px 4px #333333;
    -moz-transition: -moz-transform 0.5s ease;
    box-shadow: 2px 2px 4px #333333;
    transition: transform 0.5s ease;
}

.gallery li.active {
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.gallery img {
    display: block;
    width: 160px;
    -webkit-transition: width 0.75s;
    -moz-transition: width 0.75s;
    transition: width 0.75s;
}

.gallery .active img {
    display: block;
    width: 650px; /* Büyütüldüğünde genişlik 650px olacak */
}
.draggable-video {
    transition: width 0.2s ease, height 0.2s ease;
    width: 650px; /* Varsayılan genişlik */
    height: auto; /* Yüksekliği otomatik ayarla */
}
